.container {
  height: 100px;
  background-color: var(--text-button-color);
  border-radius: 1.3em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 2px 10px -4px #000;
}
.firstWord {
  padding-top: 0.5em;
  font-size: 0.7em;
  text-align: center;
}
.restOfPhrase {
  text-align: center;
  display: block;
}
.information {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--main-color);
  align-self: start;
  justify-self: center;
}
