.container {
  height: 105px;
  background-color: var(--text-button-color);
  border-radius: 1.3em;
  display: grid;
  align-items: center;
  grid-template-columns: 40% 1fr;
  padding-left: 1.3em;
  padding-right: 1.3em;
  box-shadow: 0 2px 10px -4px #000;
  margin-bottom: 2%;
}
.containerBox {
  display: grid;
  justify-self: end;
  grid-template-columns: 70% 1fr;
  background-color: var(--main-color);
  border-radius: 1.3em;
  height: 70%;
  width: 80%;
}
.input {
  text-align: center;
  border: 3px solid black;
  font-size: 1em;
  height: 50%;
  width: 80%;
  border-radius: 1.3em;
  align-self: center;
  justify-self: center;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input:focus {
  outline: none;
}
.img {
  align-self: center;
  justify-self: start;
}
