.container {
  background-color: var(--text-button-color);
  border-radius: 1.3em;
  height: 100px;
  display: grid;
  grid-template-rows: 45% 1fr;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 2px 10px -4px #000;
  margin-top: 2%;
}
.head {
  padding-top: 0.5em;
  text-align: center;
}
.perform {
  color: var(--main-color);
  font-size: 0.7em;
  text-align: center;
}
.performRate {
  color: var(--positive-color);
  align-self: start;
  justify-self: center;
}
