.container {
  height: 70px;
  border-radius: 25px;
  display: grid;
  color: var(--main-color);
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 5%;
  align-content: center;
}
.subHeader {
  align-self: end;
}
