.container {
  border-radius: 1.3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  color: var(--main-color);
  padding-right: 1.3em;
  padding-left: 1.3em;
  align-content: center;
}
.subHeader {
  align-self: end;
}
.sort {
  color: var(--secundary-color);
  font-size: 0.7em;
  align-self: end;
  justify-self: end;
  display: inline;
  grid-column: 2;
}
.date {
  font-size: 0.5em;
}
