.subHeaderContainer {
  border: 2px solid black;
  width: 350px;
  height: 70px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  grid-template-rows: 50% 50%;
  color: var(--main-color);
  padding-right: 25px;
  padding-left: 25px;
  align-content: center;
}
.subHeader {
  align-self: end;
}
.sort {
  color: var(--secundary-color);
  font-size: 15px;
  align-self: end;
  justify-self: end;
  display: inline;
  grid-column: 3;
}
.sortImage {
  align-self: end;
  justify-self: end;
}
.date {
  font-size: 12px;
}
