.container {
  background-color: var(--text-button-color);
  height: 70px;
  border-radius: 1.3em;
  display: grid;
  grid-template-rows: 60% 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 1.3em;
  padding-right: 1.3em;
  box-shadow: 0 2px 10px -4px #000;
}
.stockName {
  align-self: center;
}
.stockRate {
  align-self: center;
  justify-self: end;
  color: var(--positive-color);
}
.amount {
  font-size: 0.7em;
  color: var(--secundary-color);
}
.total {
  font-size: 0.7em;
  justify-self: end;
  color: var(--secundary-color);
}
