.container {
  height: 100px;
  background-color: var(--text-button-color);
  border-radius: 1.3em;
  display: grid;
  grid-template-columns: 70% 1fr;
  padding-left: 1em;
  box-shadow: 0 2px 10px -4px #000;
}
.input {
  padding-left: 25px;
  align-self: center;
  justify-self: flex-start;
  width: 100%;
  height: 50%;
  border-radius: 1.3em;
  border: 2px solid #4067a1;
  box-shadow: 0 2px 10px -4px #000;
}
.input:focus {
  outline: none;
}
.icon {
  align-self: center;
  justify-self: center;
}
