.container {
  background-color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  height: 70px;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 60% 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 2px 5px;
}
.stockName {
  align-self: center;
  font-size: 20px;
}
.rate {
  align-self: center;
  font-size: 20px;
  justify-self: end;
  color: green;
}
.amount {
  font-size: 15px;
  color: #a2b2c9;
}
.total {
  font-size: 15px;
  justify-self: end;
  color: #a2b2c9;
}
