.container {
  height: 75px;
  background-color: var(--text-button-color);
  border-radius: 1.3em;
  display: grid;
  grid-template-rows: 35% 1fr;
  grid-template-columns: 1fr 1fr;
  padding-left: 1.3em;
  padding-right: 1em;
  box-shadow: 0 2px 10px -4px #000;
}
.head {
  color: var(--secundary-color);
  align-self: center;
  font-size: 0.7em;
  grid-column: 1;
  grid-row: 1;
}
.total {
  font-size: 1.3em;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
}
.returnValue {
  justify-self: end;
  font-size: 1.3em;
  font-weight: bold;
  grid-column: 2;
  grid-row: 2;
  color: var(--positive-color);
}
