:root {
  --main-color: #4067a1;
  --primary-color: #0000;
  --secundary-color: #a2b2c9;
  --background-color: #f5f8ff;
  --text-button-color: #ffff;
  --positive-color: #2f9f2f;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
