.page {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  display: grid;
}
.container {
  align-self: center;
  justify-self: center;
  background-color: var(--background-color);
  height: 667px;
  width: 375px;
  display: grid;
}

.header {
  justify-self: center;
  padding-top: 20px;
}
