.container {
  height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 30% 1fr 55px;
}
@media only screen and (max-height: 630px) {
  .container {
    grid-template-rows: 38% 1fr 55px;
  }
}
.container::-webkit-scrollbar {
  display: none;
}
.headerContainer {
  padding-left: 5%;
  padding-right: 5%;
}
.header {
  padding-top: 1em;
  display: grid;
  grid-template-rows: 20% 1fr 1fr;
  width: 100%;
  height: 100%;
  row-gap: 5%;
}
.settingsButton {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: end;
}
.balance {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.list {
  cursor: pointer;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

.mainContainer {
  overflow: scroll;
  justify-self: center;
  width: 100%;
  height: 100%;
}
.footerContainer {
  position: sticky;
  bottom: 0;
}
.date {
  grid-column: 1 / span 2;
}
