.container {
  height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 25% 1fr 55px;
}
.container::-webkit-scrollbar {
  display: none;
}

.header {
  justify-self: center;
  padding-top: 1em;
  display: grid;
  width: 90%;
  height: 100%;
  row-gap: 5%;
}
.settingsButton {
  grid-column: 2;
  grid-row: 1;
  align-self: start;
  justify-self: end;
}
.balance {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.main {
  justify-self: center;
  display: grid;
  grid-template-rows: 15% 1fr;
  width: 90%;
  height: 100%;
}
.list {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.footer {
  bottom: 0;
  position: sticky;
}
