.page {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  display: grid;
}
.container {
  border: 5px solid black;
  border-radius: 25px;
  align-self: center;
  justify-self: center;
  background-color: var(--background-color);
  height: 667px;
  width: 375px;
  display: grid;
  grid-template-rows: 25% 1fr 10%;
}

.header {
  justify-self: center;
  padding-top: 20px;
  display: grid;
  width: 90%;
  height: 100%;
  row-gap: 5%;
}
.settingsButton {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: end;
}
.balance {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.main {
  justify-self: center;
  display: grid;
  grid-template-rows: 15% 1fr;
  width: 90%;
  height: 100%;
}
.list {
  width: 100%;
  height: 100%;
}
