.container {
  padding-top: 15px;
  height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 15% 1fr 55px;
}

.header {
  justify-self: center;
  display: grid;
  grid-template-columns: 10% 1fr;
  width: 90%;
  height: 100%;
  padding-top: 1em;
  align-items: center;
  justify-items: center;
  padding-right: 10%;
}
.topic {
  width: 50%;
}
.mainContainer {
  overflow: scroll;
  justify-self: center;
  width: 100%;
  height: 100%;
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 2%;
}
.main {
  padding-left: 5%;
  padding-right: 5%;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}
.loadingState {
  text-align: center;
  color: black;
}
.footer {
  align-self: end;
  position: sticky;
}
