.page {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  display: grid;
}
.container {
  border: 5px solid black;
  border-radius: 25px;
  align-self: center;
  justify-self: center;
  background-color: var(--background-color);
  height: 667px;
  width: 375px;
  display: grid;
  grid-template-rows: 15% 1fr 10%;
}

.header {
  justify-self: center;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 10% 1fr;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-items: center;
  padding-right: 10%;
}
.topic {
  width: 50%;
}
.main {
  justify-self: center;
  display: grid;
  grid-template-rows: 50px 100px 100px;
  row-gap: 3%;
  width: 90%;
  height: 100%;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}
.loadingState {
  text-align: center;
  color: black;
}
.footer {
  align-self: end;
  position: sticky;
}
