.container {
  height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 15% 40% 1fr;
}

.header {
  text-align: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 10% 1fr;
  column-gap: 5%;
  width: 90%;
  height: 100%;
  padding-top: 1em;
  align-items: center;
  justify-items: center;
  padding-right: 10%;
}
.main {
  align-self: center;
  justify-self: center;
  display: grid;
  row-gap: 5%;
  row-gap: 2%;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  height: 80%;
}

.loadingState {
  text-align: center;
  color: black;
}
.footer {
  margin-top: 20%;
  justify-self: center;
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
}
