.container {
  padding-top: 15px;
  background-color: var(--background-color);
  display: grid;
  height: 100vh;
  grid-template-rows: 15% 1fr;
}

.header {
  justify-self: center;
  display: grid;
  grid-template-columns: 10% 1fr;
  width: 90%;
  height: 100%;
  padding-top: 1em;
  align-items: center;
  justify-items: center;
  padding-right: 10%;
}
.topic {
  width: 50%;
  justify-self: center;
  align-self: center;
}
.login {
  margin-bottom: 5%;
}
.main {
  overflow: scroll;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  justify-self: center;
  display: grid;
  width: 100%;
  height: 100%;
}
