.container {
  padding-top: 15px;
  background-color: var(--background-color);
  display: grid;
  height: 100vh;
  grid-template-rows: 15% 1fr 10%;
}

.header {
  justify-self: center;
  display: grid;
  grid-template-columns: 10% 1fr;
  width: 90%;
  height: 100%;
  padding-top: 1em;
  align-items: center;
  justify-items: center;
  padding-right: 10%;
}
.topic {
  width: 50%;
  justify-self: center;
  align-self: center;
}
.main {
  justify-self: center;
  display: grid;
  width: 90%;
  height: 100%;
  row-gap: 5%;
}
.loading {
  align-self: center;
  justify-content: center;
}
